.sidebar header {
    margin-top: 60%;
}

.footer {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
}

.page-header h2, .footer, .footer a, .eop {
    color: #8e44ad;
}

/* Bootstrap Overrides */

.navbar {
    background: #8e44ad;
}

.navbar a:not(.active) {
    color: white !important;
}

.navbar li.active a, .navbar li a:hover, .navbar li.open a.dropdown-toggle {
    background: #9b59b6 !important;
}

.navbar .dropdown-menu {
    background: #8e44ad;
}

.navbar .dropdown-menu li:hover {
    background: #9b59b6 !important;
}

.avatar {
    font-size: 98px;
    background-color: #8e44ad;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.navbar .avatar {
    font-size: 26px;
    background-color: #fff;
    color: #9e54bd;
}